doctype html
html(ng-app="timerApp")
	head
		title  tracking web app
		meta(charset="utf-8" lang="ru")
		link(href="/build/css/app.css", rel="stylesheet" type="text/css")
		link(rel="shortcut icon" href="/build/img/favicon.png" type="image/x-icon")
		link(rel="icon" href="/build/img/favicon.png" type="image/x-icon")
	body(ng-controller="mainCtrl")
		.frame
			legend Simple Leo's task tracking web app
			div(ng-view)
			script(src="/build/js/bundle.js")